.addressnull {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  .image {
    width: 420px;
  }

  .addressnull-text {
    margin: 20px 0;
    color: #666;
    font-size: 34px;
  }
  .content-text {
    padding-bottom: 20px;
    color: $color;
  }
  .addressnull-button {
    width: 235px;
    height: 78px;
    .my-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: #56d176;
      color: #fff !important;
      font-size: 24px;
      &::after {
        border: none;
      }
    }
  }
} 
