.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding-bottom: 20px;
  color: #666;
  line-height: 1.2;
  text-align: center;
  .loading-rotate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    animation: myrotate 1s linear infinite;
    .loading-rotate-icon {
      font-size: 30px;
    }
  }
  .loading-title {
    line-height: 1.2;
  }
}

@keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
