.navswiper {
  margin-top: 10px;
  .framework {
    display: flex;
    flex-wrap: wrap;
    .framework-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      padding: 20px 0;
      .framework-item-title {
        width: 80px;
        height: 80px;
        background: #f5f5f5;
        border-radius: 50%;
      }
      .framework-item-txt {
        width: 80px;
        height: 25px;
        margin-top: 15px;
        background: #f5f5f5;
      }
    }
  }
  .navswiper-main {
    display: flex;
    flex-wrap: wrap;
    .navswiper-main-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      padding: 20px 0;
      .navswiper-main-item-image {
        display: flex;
        justify-content: center;
        width: 100%;
        .nav-image {
          width: 80px;
          height: 80px;
        }
      }
      .navswiper-main-item-title {
        color: #999;
        font-size: 24px;
        text-align: center;
      }
    }
  }
}
